<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>
    <header>
        <h1>Titulo de la Pagina</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
            distinctio culpa aut accusantium corrupti porro nostrum.</p>
    </header>
    <div class="container">
         <main>
        <h2>Titulo del Main</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
            distinctio culpa aut accusantium corrupti porro nostrum.</p>
        <section>
            <h3>Titulo de la seccion1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
        </section>   
        <section>
            <h3>Titulo de la seccion2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
        </section>   
        <section>
            <h3>Titulo de la seccion3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
        </section>    
        </main>
        <aside>
            <div>
                <h2>Titulo del Aside</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis 
                    distinctio culpa aut accusantium corrupti porro nostrum.</p>
            </div>
            
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
        </aside>
    </div>
   
    <footer>
        <div>
            <h2>Titulo del Footer</h2>
            <p>Lorem ipsu m dolor sit amet consectetur adipisicing elit. Qui tempora at similique omnis</p> 
        </div>
       
        <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
        </ul>
    </footer>
</body>
</html>