<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/align.css">
</head>
<body>
    <header>
        <h1>alinear contenido</h1>
        <p>
            alinear contenido en css es muy importante para el diseño de un sitio web
        </p>
    </header>
    <main>
        ejemplos

        <div class="ejemplo1">
            <div>
                Hola mundo xd
            </div>
        </div>

        <div class="ejemplo2">
            <iframe src="../../Mascaras_recortes/html/mask.html" frameborder="0" width="50%" height="700px">
                
            </iframe>
        </div>

    </main>
</body>
</html>