<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/column.css">
</head>
<body>
    <header>
        <center>
            <h1>
                Columns in CSS
            </h1>
            <p>
                Las columnas en CSS son una propiedad que nos permite dividir el 
                contenido de un elemento en varias columnas.
            </p>
        </center>
    </header>
    <main>
        Ejemplos:
        <div class="ejemplo1">
            <p>Titulo del tema</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem praesentium quod soluta eaque cupiditate alias ea, distinctio quos! Harum tempore molestias est facere quam! Sequi delectus amet magnam maxime, inventore eum minus nostrum ipsum. Amet fugiat magnam dolorum reiciendis recusandae at illum, aspernatur maiores ut porro dignissimos culpa cumque unde incidunt aliquam vero rerum non numquam suscipit laudantium quod. Totam eum et nulla? Voluptates saepe natus earum obcaecati facere est libero voluptatum tenetur sequi totam adipisci distinctio, ipsa necessitatibus minima cumque quis quod dolor ea excepturi enim accusantium omnis illo sint dolores. Aliquid fugit soluta recusandae alias corrupti quidem!
        </div>
        <div class="ejemplo2">
            <p>Titulo del tema 2</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem praesentium quod soluta eaque cupiditate alias ea, distinctio quos! Harum tempore molestias est facere quam! Sequi delectus amet magnam maxime, inventore eum minus nostrum ipsum. Amet fugiat magnam dolorum reiciendis recusandae at illum, aspernatur maiores ut porro dignissimos culpa cumque unde incidunt aliquam vero rerum non numquam suscipit laudantium quod. Totam eum et nulla? Voluptates saepe natus earum obcaecati facere est libero voluptatum tenetur sequi totam adipisci distinctio, ipsa necessitatibus minima cumque quis quod dolor ea excepturi enim accusantium 
            <p>--Nuevo Episodio--</p>
            omnis illo sint dolores. Aliquid fugit soluta recusandae alias corrupti quidem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt dolorum voluptatum omnis sed labore sequi veniam nemo dolor, maxime culpa ad, odio fugit voluptatem magni dignissimos tempore doloremque. Iste magni repellat, quibusdam explicabo odit maiores doloremque eaque provident quae quasi incidunt soluta earum voluptatem autem ex repudiandae id. Voluptate, in?
        </div>
    </main>
    
</body>
</html>