<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/alineacion.css">
</head>
<body>
    <header>
        <h1>
            Alineacion en FlexBox
        </h1>
        <p>
            Alineacion en FlexBox se  puede hacer de 3 formas:
            <ul>    
                <li>Alineacion de contenido</li>
                <li>Alineacion de items</li>
                <li>Alineacion de flex-container</li>
            </ul>
        </p>
    </header>
    <main>
        Ejemplo:
        <div class="contenido">
            <div class="cajita">item1</div>
            <div class="cajita">item2</div>
            <div class="cajita">item3</div>
            <div class="cajita">item4</div>
            <div class="cajita">item5</div>
            <div class="cajita">item6</div>
            <div class="cajita">item7</div>
            <div class="cajita">item8</div>
            <div class="cajita">item9</div>
            <div class="cajita">item10</div>
        </div>

    </main>
</body>
</html>