<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/flex.css">
</head>
<body>
    <header>
        <h1>
            FlexBox
        </h1>
    </header>
    <main>
        <div class="flex">
            <div class="cajita">item1</div>
            <div class="cajita">item2</div>
            <div class="cajita">item3</div>
            <div class="cajita">item4</div>
            <div class="cajita">item5</div>
            <div class="cajita">item6</div>
            <div class="cajita">item7</div>
            <div class="cajita">item8</div>
            <div class="cajita">item9</div>
            <div class="cajita">item10</div>
            <div class="cajita">item11</div>
            <div class="cajita">item12</div>
            <div class="cajita">item13</div>
            <div class="cajita">item14</div>
        </div>

        <div class="flex2">
            <div class="cajita-2">item1</div>
            <div class="cajita-2">item2</div>
            <div class="cajita-2">item3</div>
            <div class="cajita-2">item4</div>
        </div>
    </main>
</body>
</html>