.box{
    width: round(120px,5px);
    height: round(to-zero,222px,3px);
    background-color: aqua;
}

.round{
    width: round(up,20px ,2%);
    height: round(down, 2.3rem,.75rem);
    background-color: brown;
    border-radius: round(to-zero,12px,7px);
}

.mod{
    width: mod(120px,21px); /*15px*/
    height: mod(110px,30px); /*20px*/
    background-color: aquamarine;
}

.mod-2{
    width: mod(-500px,100px);
    height: mod(-450px,100px);
    background-color: yellowgreen;
}
.mod-3{
    width: 200px;
    height: mod(450px,100px);
    background-color: rgb(64, 71, 48);
}
.rem-1{
    width: rem(-450px,100px);
    height: rem(491px , -20px);
    background-color: red;
}