:root{
    --color:red;
}

.box{
    /*condicional de var*/
    width: var(--size, 200px)  ;
    height: var(--size ,180px);
    background-color: aquamarine;
}


/*if*/
.boxing::after{
    content: "no soporta if aun";
    border: 1px solid red;
    width: 100px;
    height: 100px;
}