<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <h1>Position en CSS</h1>
        <p>
            las propiedades de posicionamiento en CSS son:
            <ul>
                <li>position (absolute, relative, static, fixed, sticky)</li>
            </ul>
        </p>
    </header>
    <h2>Position Static y Relative</h2>
    <main>
        <div class="container">
            <div class="relative">Relativo</div>
            <div class="static">Estatico</div>
            <div class="relative">Relativo</div>
        </div>
    </main>
</body>
</html>