<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <h1>Position en CSS</h1>
        <p>
            las propiedades de posicionamiento en CSS son:
            
            <ul>
                <li>position (absolute, relative, static, fixed, sticky)</li>
                <li>top</li>
                <li>left</li>
                <li>right</li>
            </ul>
            y sirven para posicionar los elementos en la pagina.
        </p>
    </header>
    <main>
        <div class="grid-1">
            <div class="item item-1">
                <div class="item-1-1">
                    <div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="sub_item_2">
                    <div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-3">
                <div class="sub_item_3">
                    <div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-4">
                <div class="sub_item_4">
                    <div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>