*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.caja{
    width:200px;
    height: 200px;
    background: red;
    float: left;
}

p{
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    
}

p:first-child{
    background-color: cornflowerblue;
    border: 1px solid black;
    padding: 10px;
}



button{
    background-color: #000;
    border: 1px solid #000;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease;
    clear: both;
    margin: auto;
    display: block;
}

button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}





