.grid-1{
    display: grid;
    grid-template:"header header " 1fr "aside main " 2fr "footer footer " 1fr / 0.5fr 2fr;
    height: 100vh;
}

.grid-1 header{
    grid-area: header;
    background-color: red;
}

.grid-1 aside{
    grid-area: aside;
    background-color: blue;
}

.grid-1 main{
    grid-area: main;
    background-color: green;
}

.grid-1 footer{
    grid-area: footer;
    background-color: yellow;
}

@media screen and (width <= 768px) {
    .grid-1{
        grid-template:"header " 1fr "aside " 0.5fr "main " 1fr "footer " 1fr / 1fr;
    }
}
