*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.grid-1{
    display: grid;
    height: 500px;
    width: 800px;
    grid-auto-rows: 100px 50px ;
    grid-template-columns: 100px 50px 100px ;;
    place-content: center;
    background-color: #808080;
    grid-auto-flow: row dense;
    gap: 10px;
}

.item{
    background-color: rgb(110 155 194);
    color: #fff;
    text-align: center;
    align-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.item-1{
    grid-column-start: 2;
}


#field {
    display: grid;
    height: 500px;
    background-color: #808080;
    gap:15px;
    grid-template:1fr 1fr / 200px 1fr;

    
}

.greenLand{
    width: 100px;
    height: 100px;
    background-color: green;
    place-self:center;
}

.redLand {
    width: 100px;
    height: 100px;
    place-self:center;
    background-color: red;
}






