<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/areas.css">
</head>
<body>
    <header>
        <h1>Areas</h1>
    </header>
    <main>
        <div class="grid-1">
            <header>Header</header>
            <aside>Aside</aside>
            <main>Main</main>
            <footer>Footer</footer>
        </div>
    </main>
</body>
</html>