*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-1{
    display:grid;
    background:rgb(16 16 94);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap:20px;
    width:60%;
    height:400px;
}


.item{
    background-color:rgb(223 119 22);
}


.item-1{
    display: grid;
    place-items:start;

    & div{
        width:90%;
        height:80%;
        background-color:  rgb(223 119 22);
        border-right: 20px solid rgb(16 16 94) ;
        border-bottom: 20px solid rgb(16 16 94);
    }
}

.item-2{
    display: grid;
    place-items:start end;

    & div{
        display:grid;
        place-items: start end;
        width:90%;
        height:80%;
        background-color:  rgb(223 119 22);
        border-left: 20px solid rgb(16 16 94) ;
        border-bottom: 20px solid rgb(16 16 94);

    }
}

.item-3{
    display: grid;
    place-items:end start;

    & div{
        display:grid;
        place-items: end start;
        width:90%;
        height:80%;
        background-color:  rgb(223 119 22);
        border-right: 20px solid rgb(16 16 94) ;
        border-top: 20px solid rgb(16 16 94);

    }
}

.item-4{
    display: grid;
    place-items:end;

    & div{
        display:grid;
        place-items: end;
        width:90%;
        height:80%;
        background-color:  rgb(223 119 22);
        border-left: 20px solid rgb(16 16 94) ;
        border-top: 20px solid rgb(16 16 94);

    }
}